python
django
django.contrib.admin
django.contrib.auth
django.contrib.contenttypes
django.contrib.sessions
django.contrib.messages
django.contrib.staticfiles
django.shortcuts
django.contrib.auth.models
django.contrib.auth.authenticate
django.contrib.auth.login
django.contrib.auth.logout
django.core.mail
django.conf
django.template.loader
send_mail
os
django.core.mail
django.template.loader
python-decouple